# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
venv.bak/
*.egg-info/
*.eggs/
*.DS_Store
*.db
*.sqlite3
*.sqlite
*.log

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
static/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
pip-wheel-metadata/
share/python-wheels/
*.egg
*.egg-info/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Other
*.sublime-workspace
*.sublime-project